.produto__info-img {
  object-fit: cover;
}

.produto__info-titulo {
  color: var(--cor-preto);
  font-size: 1.375rem;
  line-height: 1.614rem;
  font-weight: 500;
}

.produto__info-texto {
  color: var(--cor-preto);
  font-size: 0.875rem;
  line-height: 1.028rem;
  font-weight: 400;
}

.produto__info-preco {
  color: var(--cor-preto);
  font-size: 0.875rem;
  line-height: 1.028rem;
  font-weight: 500;
}

@media screen and (min-width: 1200px) {
  .produto__info-titulo {
    font-size: 3.25rem;
    line-height: 3.816rem;
    font-weight: 500;
  }
  
  .produto__info-preco {
    color: var(--cor-preto);
    font-size: 1.375rem;
    line-height: 1.614rem;
    font-weight: 500;
  }
}