@import url(../components/css/forms.css);
@import url(../components/css/botoes.css);
@import url(../components/css/textos.css);

.header__logo {
  width: 100px;
  height: 28px;
}

.header__lupa {
  background-size: cover;
  width: 24px;
  height: 24px;
}

.hero__banner {
  background: url(../img/hero_mobile.jpg) center no-repeat;
  background-size: cover;
  width: 100%;
  height: 192px;
}

.header__busca--input {
  background: url(../img/icons/lupa.svg) #f5f5f5 center right 16px no-repeat;

  font-size: 0.85rem;
  border-radius: 16px;
  border: none;
  outline: none;
}

#produtos__card--row {
  grid-gap: 1.5rem;
}

.produtos__header--preco_seta {
  background: url(../img/icons/arrow.jpg) center no-repeat;
  width: 1rem;
  height: 1rem;
}

.produtos__card {
  width: 156px;
  height: 249px;
}

.produtos__card--img {
  width: 100%;
  height: 174px;
  object-fit: cover;
  flex-shrink: 0;
}

.footer__card-logo {
  width: 176px;
  height: 50px;
}

.footer__form-nome {
  width: 100%;
  height: 56px;
}

.footer__form-mensagem {
  resize: none;
  width: 100%;
  height: 82px;
}

.footer__main {
  background-color: var(--cor-azul_secundario);
  margin-left: -16px;
  margin-right: -16px;
}

@media screen and (min-width: 767px) {
  .header__lupa {
    display: none;
  }

  #header__busca--hide {
    display: flex;
    min-width: 272px;
  }

  .hero__banner {
    background: url(../img/hero_tablet.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 352px;
  }

  .produtos__card {
    width: 164px;
    height: 252px;
  }

  .produtos__card--img {
    width: 100%;
  }

  .footer__main {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 992px) {
  .header__logo {
    width: 176px;
    height: 50px;
  }

  .hero__banner {
    background: url(../img/hero_full.jpg) center no-repeat;
    background-size: cover;
  }

}
